#root {
    margin: 0 auto;
    text-align: center;
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.link {
    color: #bcbcbc;
    margin-right: 10px;
}

.active-link {
    color: #c6ad30;
    margin-right: 10px;
}

.main-container {
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    height: 60px;
    width: 100dvw;
}

.nav-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: absolute;
    left: 3%;
    top: 20%;
    width: 40px;
}

.routes-container {
    max-width: 1454px;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.column {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
}

.monster-card {
    width: 300px;
    height: 400px;
    background-color: #181818;
    box-shadow: -10px 15px 30px #0b0b0b;
    margin: 40px 40px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 15px;
}

.monster-image {
    position: absolute;
    right: -69px;
    top: -90px;
    width: 300px;
    z-index: 2;
}

.monsters-catalog {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-evenly;
    flex-direction: row;
}

.monster-card-name {
    color: #b2b2b2;
    position: absolute;
    left: 15px;
    top: 40%;
    font-size: 50px;
    max-width: 290px;
    line-height: 60px;
    text-align: left;
    z-index: 3;
}

.monster-card-author {
    color: #b2b2b2;
    position: absolute;
    right: 8px;
    bottom: 0px;
}

.home-background-amulet {
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
}

.monster-details-container {
    display: flex;
}

.monster-details-image {
    width: 330px;
    margin-right: 68px;
}

.monster-details-text-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.details-heading {
    margin: 0px;
    color: #c6ad30;
}

.heading-line {
    width: 40px;
    height: 1px;
    background-color: #b2b2b2;
    position: absolute;
    left: 0px;
}

.heading-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 300px;
}

.add-monster-button {
    right: 30px;
    position: absolute;
    top: 10px;
}

.form-card {
    box-shadow: -10px 10px 30px #0e0e0e;
    border-radius: 15px;
    width: 700px;
    height: 380px;
    padding: 80px;
    background: rgb(18, 18, 18);
    background: -moz-radial-gradient(
        circle,
        rgba(18, 18, 18, 1) 0%,
        rgba(54, 54, 54, 1) 0%,
        rgba(15, 15, 15, 1) 100%
    );
    background: -webkit-radial-gradient(
        circle,
        rgba(18, 18, 18, 1) 0%,
        rgb(40, 40, 40) 0%,
        rgba(15, 15, 15, 1) 100%
    );
    background: radial-gradient(
        circle,
        rgba(18, 18, 18, 1) 0%,
        rgb(35, 34, 34) 0%,
        rgb(22, 21, 21) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#0f0f0f",GradientType=1);
}

.form-heading-line {
    width: 40px;
    height: 1px;
    background-color: #b2b2b2;
    margin-right: 20px;
}

.form-row-container {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

label {
    font-size: 23px;
}

.form-row-left-container {
    display: flex;
    align-items: center;
    width: 350px;
}

.form-input {
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
}

.form-button {
    width: 150px;
    align-self: center;
}

.monster-button-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
}

.modal {
    padding: 20px;
    background-color: #151414;

    height: 140px;
    width: 500px;
    border-radius: 25px;
    z-index: 11;
    border: 3px solid rgb(201 159 48 / 55%);
}

.modal-backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    backdrop-filter: blur(2px);
}

.modal-delete-button {
    color: #9c0b0b;
}

.modal-buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 28px;
}

.home-name-image {
    max-width: 460px;
    filter: drop-shadow(2px 4px 6px black);
    opacity: 0.9;
}

.about-us-h3 {
    color:#c6ad30; 
}