#root {
  margin: 0 auto;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.link {
    color:#a91979aa;
    margin-right: 10px;
}

.active-link {
    color:#646cffaa;
    margin-right: 10px;
}

.main-container {
    min-width: 100dvw;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 100dvw;
}

.nav-container {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: absolute;
    left: 3%;
    top:20%;
}

.routes-container {
    max-width: 1200px;
}