:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: rgb(18, 18, 18);
    background: -moz-radial-gradient(
        circle,
        rgba(18, 18, 18, 1) 0%,
        rgb(40, 40, 40) 0%,
        rgba(15, 15, 15, 1) 100%
    );
    background: -webkit-radial-gradient(
        circle,
        rgb(0, 0, 0) 0%,
        rgb(35, 35, 35) 0%,
        rgb(12, 12, 12) 100%
    );
    background: radial-gradient(
        circle,
        rgb(14, 14, 14) 0%,
        rgb(32, 30, 30) 0%,
        rgb(9, 9, 9) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#121212",endColorstr="#0f0f0f",GradientType=1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

a {
    font-weight: 500;
    color: #bcbcbc;
    text-decoration: inherit;
}
a:hover {
    color: #ffe24f;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #b2b2b2;;
}

h1 {
    
    font-size: 3.2em;
    line-height: 1.1;
    font-weight: 400;
}

button {
    border-radius: 21px;
    border: 1px solid #c6ad30;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #b2b2b2;
}
button:hover {
    border-color: #eb7e00;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

* {
    font-family: "Cinzel", serif;
}
